/* ----- TABLETTE ---- */
@media screen and (min-width: 771px) and (max-width: 1030px) {
    #container {
        max-width: 96%;
    }
    
       /* POP ET HEBERGEMENT */
    .pop {
        width: 100%;
        flex-direction: row;
        padding-bottom: 20px;
    }
    .pop .pad {
        width: 31%;
        max-height: 300px;
    }
    .pop-img {
        max-width: 50%;
        width: 245px;
        height: 220px;
    }
    .description-txt {
        margin-right: 10px;
    }
    .description h3, .description p {
        margin: 0;
        padding: 0;
        padding-left: 10px;
        padding-top: 15px;
    }
    .description .stars {
        padding-left: 5px;
    }
    .description p {
        align-items: flex-end;
    }
    .pad7 p,.pad9 p {
        padding-top: 59px;
    }
    #contenu-heberg {
        display: flex;
        flex-direction: column-reverse;
    }
    .heberg {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }
    .pad {
        width: 45%;
        margin: 15px 0px;
        max-height: 500px;
    }
    .pad-img {
        max-height: 220px;
    }
    .pad3 {
        margin-left: 0;
    }
    .titre {
        margin-bottom: 20px;
        padding-left: 35px;
    }
    .titre i {
        padding-right: 60px;
    }

        /* ACTIVITE */
     #contenu-activite {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
        }
     #contenu-activite .titre {
        margin-bottom: 25px;
        }
    .unit {
        width: 48%;
        margin-bottom: 30px;
        }
    .unit img {
        max-height: 250px;
        width: 100%;
        }
    .unit-solo {
        order: 1;
    }
    .unit-duo {
        order: 2;
    }
    .unit-duo1 {
        margin-bottom: 30px;
        }
    .unit-duo3 {
        margin-bottom: 30px;
    }
    
    /* FOOTER */
    footer {
        width: 100%;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 0;
        text-align: center;
    }
    .col1,.col2, .col3 {
        margin: 20px;
    }
}

@media screen and (max-width: 770px) and (min-width: 381px) {
    #container {
        max-width: 100%;
    }

        /* HEADER */
    #header {
        width: 90%;
        flex-wrap: wrap;
        position: relative;
        margin: 0 5%;
        margin-top: 30px;
    }
    nav {
        width: 100%;
        display: flex;
        margin-right: 0;
        margin-top: 10px;
    }
    nav ul {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    nav li a {
        margin-left: 0;
        padding-left: 30px;
        font-weight: 400;
    }
    .lock {
        padding-left: 20px;
    }
    .barre-bleu {
        top: 35px;
        height: 3px;
        width: 200px;
        margin-left: 10px;
    }
    .barre-gris {
        background-color: #F2F2F2;
        height: 3px;
        width: 200px;
        position: absolute;
        top: 35px;
    }

        /* RECHERCHE */
    .recherche {
        margin: 0 5%;
    }
    .champs {
        position: relative;
        margin-top: 30px;
    }
    label {
        width: 60px;
        height: 60px;
    }
    input {
        padding-left: 10px;
        width: 280px;
        padding-right: 20px;
    }
    .search-desktop {
        display: none;
    }
    .search-mobile {
        display: block;
        width: 60px;
        height: 60px;
        padding: 0;
    }
    .bloc-filtres {
        margin-left: 5%;
        margin-top: 20px;
    }
    .bloc-filtres h2 {
        width: 100%;
    }
    .filtres {
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .info {
        margin: 20px 3% 0px 3%;
    }
    
        /* POP ET HEBERGEMENT */
    .pop {
        width: 100%;
    }
    .pop .pad {
        width: 85%;
        max-height: 300px;
    }
    .pop-img {
        max-width: 50%;
        width: 250px;
        height: 250px;
    }
    .description h3, .description p {
        margin: 0;
        padding: 0;
        padding-left: 20px;
        padding-top: 20px;
    }
    .description .stars {
        padding-left: 15px;
    }
    .description h3 {
        margin-top: 5px;
    }
    #contenu-heberg {
        display: flex;
        flex-direction: column-reverse;
    }
    .heberg {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }
    .pad {
        width: 85%;
        margin: 15px 0px;
        max-height: 500px;
    }
    .pad-img {
        max-height: 220px;
    }
    .pad3 {
        margin-left: 0;
    }
    .titre {
        margin-bottom: 20px;
        padding-left: 50px;
    }
    .titre i {
        padding-right: 60px;
    }

        /* ACTIVITE */
    #contenu-activite {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
    }
    #contenu-activite .titre {
        margin-bottom: 25px;
        padding-left: 50px;
    }
    .unit {
        width: 85%;
        margin-bottom: 30px;
    }
    .unit img {
        max-height: 250px;
        width: 100%;
    }
    .unit-duo1 {
        margin-bottom: 30px;
    }
    .unit-duo3 {
        margin-bottom: 30px;
    }

        /* FOOTER */
    footer {
        width: 100%;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 0;
        text-align: center;
    }
    .col1,.col2, .col3 {
        margin: 20px;
    }
}

/* ----- PORTABLE ----- */
@media screen and (min-width: 381px) and (max-width:462px) {
    input {
        width: 240px;
    }
    .champs {
        justify-content: center;
    }
}

@media screen and (min-width: 381px) and (max-width:416px) {
    input {
        width: 220px;
    }
    .champs {
        justify-content: center;
    }
}

@media screen and (min-width: 381px) and (max-width:395px) {
    input {
        width: 200px;
    }
    .champs {
        justify-content: center;
    }
}

@media screen and (max-width: 380px) {
    #container {
        max-width: 100%;
    }

        /* HEADER */
    #header {
        width: 90%;
        flex-wrap: wrap;
        position: relative;
        margin: 0 5%;
        margin-top: 30px;
    }
    nav {
        width: 100%;
        display: flex;
        margin-right: 0;
        margin-top: 10px;
    }
    nav ul {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    nav li a {
        margin-left: 0;
        padding-left: 30px;
        font-weight: 400;
    }
    .lock {
        padding-left: 20px;
    }
    .barre-bleu {
        top: 35px;
        height: 3px;
        width: 200px;
        margin-right: 10px;
    }
    .barre-gris {
        background-color: #F2F2F2;
        height: 3px;
        width: 180px;
        margin-left: 20px;
        position: absolute;
        top: 35px;
    }
    #inscription {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 22px;
    }

        /* RECHERCHE */
    .recherche {
        margin: 0 5%;
    }
    .champs {
        position: relative;
        margin-top: 30px;
    }
    label {
        width: 60px;
        height: 60px;
    }
    input {
        padding-left: 10px;
        width: 230px;
        padding-right: 20px;
    }
    .search-desktop {
        display: none;
    }
    .search-mobile {
        position: absolute;
        right: 0;
        display: block;
        border-radius: 20px;
        width: 60px;
        height: 60px;
        padding: 0;
    }
    .bloc-filtres {
        margin-left: 5%;
        margin-top: 20px;
    }
    .bloc-filtres h2 {
        width: 100%;
    }
    .filtres {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .info {
        margin: 20px 3% 0px 3%;
    }
    
        /* POP ET HEBERGEMENT */
    .pop {
        width: 100%;
        border-radius: 0;
    }
    .pop .pad {
        width: 95%;
    }
    .pop-img {
        max-width: 50%;
        width: 125px;
        height: 180px;
    }
    .description h3, .description p {
        margin: 0;
        padding: 0;
        padding-left: 10px;
        padding-top: 10px;
    }
    .description .stars {
        padding-left: 10px;
    }
    .description h3 {
        margin-top: 5px;
    }
    #contenu-heberg {
        display: flex;
        flex-direction: column-reverse;
    }
    .heberg {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: white;
    }
    .pad {
        width: 95%;
        margin: 10px 0px;
    }
    .pad3 {
        margin-left: 0;
    }
    .titre {
        margin-bottom: 10px;
        padding-left: 12px;
    }

        /* ACTIVITE */
    #contenu-activite {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
    }
    #contenu-activite .titre {
        margin-bottom: 15px;
        padding-left: 12px;
    }
    .unit {
        width: 95%;
        margin-bottom: 20px;
    }
    .unit img {
        max-height: 150px;
        width: 100%;
    }
    .unit-duo1 {
        margin-bottom: 20px;
    }
    .unit-duo3 {
        margin-bottom: 20px;
    }

        /* FOOTER */
    footer {
        width: 100%;
        flex-direction: column;
        padding-bottom: 50px;
        margin-top: 0;
    }
    .col2, .col3 {
        margin-left: 5%;
    }
}